*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.btn-radius{
    border-radius: 4px;
}

.anchor-style{
    text-decoration: none;
}

.pointer{
    cursor: pointer;
}