@import url(/util.css);
@import url(/index.css);


.documentation{
    display: flex;
}

.doc-introduction{
    font-size: 3rem;
    margin: 2rem 0rem;
}

.sidebar-wrapper{
    box-shadow: 10px 10px 5px gray;
    height: 35rem;
    width: 30rem;
}

.sidebar-list{
    list-style: none;
    text-align: center;
    margin: 0rem 2rem;
}

.sidebar{
    color: var(--secondary-color);
    width: 23rem;
    text-align: center;
}

.sidebar-items{
    padding: 0.5rem;
    border-radius: 3px;
}


.links{
    color: var(--secondary-color);
    border-radius: 3px;
}

.links:hover{
    color: var(--primary-color);
}

.doc-main{
    color: var(--secondary-color);
    margin:2rem;
    line-height: 2rem;
}

.install-details{
    margin: 2rem;
}

.hr-margin{
    margin: 1rem;
}


h1{
    margin-top: 2rem;
}

.page-active{
    color: var(--primary-color);
}